// Sass Variables
$color-primary: #213360;
$color-secondary: #80a2f8;
$color-heading: #0e204d;
$color-body: #848e9f;
$color-dark: #222222;
$color-black: #000000;
$color-gray: #f9f9f9;
$color-white: #ffffff;

$font-heading: 'Quicksand',
sans-serif;

$font-body: 'Roboto',
sans-serif;

$body-font-size: 14px;